body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

/*achtergrond*/
main {
    background-color: #3f92b6;
    background-image: url(../assets/house-mouse.svg); 
    height: 100vh;
    background-size: cover;
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 2em;
    padding: 0;
}


/*tekstballon*/
.wolkje {
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    height: 8.5em;
    margin-left: 1.5em;
    position: relative;

    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 80%, 55% 100%, 31% 80%, 0 80%);

    width: 205px;
}


.hide{
    opacity: 0;
}


/*kruisje in de tekstballon*/
.kruisje {
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 1em;
    top: 1em;
}


/*button let's do it in de tekstballon*/
.lessons {
    background-color: rgb(134, 97, 169);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: .2em;
    margin-left: 2.5em;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*button kruisje*/
button {
    border: none;
}


/*muis*/
.muis {
    row-gap: 3em;
}


/*tekst in tekstballon*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: .2em;
    font-weight: bold;
}


span{
    display: block;
}


/*muis en wolkje samen*/
.info {
    width: 330px;
    margin: 0 auto;
    grid-row: 2;
    align-self: end;
    margin-bottom: -4em;
}


/*wat om de hamburger menu zit*/
.streepje {
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
}


/*hamburger menu*/
li {
    list-style-type: none;
    margin-right: 1em;
    margin-bottom: -1em;
}


/*hamburger menu plaatsing*/
.menu {
    grid-row: 3;
    justify-self: end;
    align-self: end;
    margin-right: 1em;
    margin-bottom: 1em;
} 


/*wolkje na 12 uur 's nachts*/
.moved-down {
    transform: translateY(-.8em); /* Pas de waarde aan voor meer of minder verschuiving */
    transition: transform 0.5s ease; /* Voegt een animatie toe voor de beweging */
}

.goodnight-message {
    display: none; /* Standaard verbergen */
    margin-top: -1.5em; /* Optionele marge */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.purple {
    color: purple; /* Stel de kleur in op paars */
    font-size: 17px;
}

